/* 
/* 
	Section Background (bg.css)
	
	Table of Content
	- general settings for section & subheader
	- background settings for section
	- media query
/*


/* background settings for section */
#section-hero-4 {background:url(../images/vlad-bg.jpg) fixed;}
#section-about.side-bg .background-image{background:url(../images/s1.jpg);}

-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    background-attachment:fixed;
}

/* media query */
@media only screen and (min-device-width: 768) and (max-device-width: 1024) and (orientation: portrait){
	section{
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	background-attachment:scroll;
	}
}
@media only screen and (max-width: 992px) {
	#subheader{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:scroll;
	}
}
@media only screen and (max-width: 992px) {
	section{
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	background-attachment:scroll;
	}
}